In [1]:
import pandas as pd

In [3]:
s = pd.Series(list('ahdaidhayisgdajldhschlasjb'))
s

0     a
1     h
2     d
3     a
4     i
5     d
6     h
7     a
8     y
9     i
10    s
11    g
12    d
13    a
14    j
15    l
16    d
17    h
18    s
19    c
20    h
21    l
22    a
23    s
24    j
25    b
dtype: object

In [4]:
s.unique()

array(['a', 'h', 'd', 'i', 'y', 's', 'g', 'j', 'l', 'c', 'b'],
      dtype=object)

In [5]:
s.value_counts()

a    5
h    4
d    4
s    3
i    2
j    2
l    2
y    1
g    1
c    1
b    1
dtype: int64

In [6]:
dados = pd.read_csv('dados/aluguel.csv', sep=';')

In [8]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
5,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento
6,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,17.59,Apartamento
7,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,25.37,Apartamento
8,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,17.27,Apartamento
9,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,14.71,Apartamento

In [9]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [11]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64